body, html {
	height: 100%;
    width: 100%;
	margin: 0;
    padding: 0;
}

body
{
    font-family: 'Segoe UI', sans-serif
}

span {
    font-style: italic
}

.node-root > .btn-removeChild{
	display:none;
}

.tlv-app{
	height:100%;
}
.tlv-tree{
	width:50%;
	height:100%;
	float:left;
}

.tlv-output{
	border-left:2px dotted grey;
    width: 48%;
	height:100%;
	float:right;
	padding-left:10px;
}


[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

/*
drop element    
*/
.drop {
    border: 2px dashed #fff;
}

/*
drag element 
*/
.drag {
    cursor: move;
}

/*
class added to all .drop elements while dragging    
*/
.dragging {
    background: #ededed;
    border: 2px dashed #000;
}